@import url(https://db.onlinewebfonts.com/c/65e1ae41ad95e8bed2ac45adc765795a?family=Gang+of+Three+V2+V2);
:root {
  --primary-color: red;
  --secondary-color: #ee3131;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gang of Three V2 V2";
  text-transform: uppercase;
}
.home {
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: relative;
}
.svg-wrapper polygon {
  /* box-shadow: 15px 15px 20px green; */
  filter: drop-shadow(0 0 10px var(--primary-color));
  /* animation: animate 2s ease-out; */
  animation: animate 5s linear infinite;
}
.svg-wrapper {
  transform: rotate(45deg) scale(2);
}
@keyframes animate {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-5px);
  }
}

.menu-wrapper {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.menu-wrapper a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  margin-left: 30px;
  font-size: 36px;
  color: var(--primary-color);
  -webkit-text-stroke-width: 1.45px;
  -webkit-text-stroke-color: black;
}
.menu-wrapper .active,
.menu-wrapper a:hover {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--primary-color),
      0 0 40px var(--primary-color), 0 0 50px var(--primary-color),
      0 0 60px var(--primary-color), 0 0 70px var(--primary-color);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--seconadry-color),
      0 0 40px var(--seconadry-color), 0 0 50px var(--seconadry-color),
      0 0 60px var(--seconadry-color), 0 0 70px var(--seconadry-color),
      0 0 80px var(--seconadry-color);
  }
}
.theme-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 25%;
  width: 8%;
  height: 35%;
}
.theme-wrapper div {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.theme-wrapper .red {
  background: red;
  border: 2px solid black;
  border-radius: 2px;
}
.theme-wrapper .green {
  background: green;
  border: 2px solid black;
  border-radius: 2px;
}
.theme-wrapper .yellow {
  background: yellow;
  border: 2px solid black;
  border-radius: 2px;
}
.theme-wrapper .pink {
  background: pink;
  border: 2px solid black;
  border-radius: 2px;
}
.theme-wrapper .purple {
  background: purple;
  border: 2px solid black;
  border-radius: 2px;
}
.about {
  position: absolute;

  left: 10%;
  width: 80%;
  top: 25%;
  display: flex;
  justify-content: space-between;
}
.about .about-txt {
  display: block;
  color: white;
}
.about .about-txt h1 {
  font-size: 55px;
}
.about-img {
  display: block;
}
.img-container {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.img-container::before {
  content: "";
  height: 500px;
  width: 500px;
  position: absolute;
  top: -100px;
  left: -100px;

  background: conic-gradient(var(--primary-color) 20deg, transparent 120deg);
  animation: rotate 2s linear infinite;
  z-index: -1;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.img-container img {
  z-index: 3;

  height: 300px;
  padding: 20px;
}
.about-txt a {
  text-decoration: none;
  color: white;
  margin-right: 20px;

  font-size: 20px;
}
.about-txt a:hover {
  color: var(--primary-color);
}
.btn {
  background: var(--primary-color);
  padding: 20px 30px;
  margin-right: 5px;
  cursor: pointer;
  /* transition: all 0.2s; */
}
.btn:hover {
  color: var(--primary-color);
  background: white;
}
.actual-about {
  /* visibility: hidden; */
  position: absolute;
  left: 10%;
  width: 80%;
  top: 25%;
}
.actual-about .about-me {
  color: white;
}
.actual-about .about-me :where(p, ul li, ul li a) {
  font-size: 20px;
  text-decoration: none;
}
.actual-about .about-me ul li a {
  color: var(--primary-color);
}
.portfolio {
  /* visibility: hidden; */
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  left: 10%;
  width: 80%;
  top: 25%;
}
.portfolio.project {
  display: inline-block;
  width: 500px;
}
.portfolio img {
  display: inline-block;
  width: 350px;
}
.more-pr a {
  text-decoration: none;
  color: white;
}
.connect {
  /* visibility: hidden; */
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 10%;
  width: 80%;
  top: 25%;
}
.connect p {
  font-size: 30px;
  color: white;
}
.connect p a {
  text-decoration: none;
  color: var(--primary-color);
}
.hidden {
  visibility: hidden;
}
